<?php
return [
    // mandatory tine url
    'tineurl'       => 'https://tine.local.tine-dev.de/',

    // mandatory username
    'username'      => 'user',
    // either password or auth-token
    //'password'      => 'pass',
    'auth_token'    => 'token',

    // optional logfile, if not provided, noop logger will be used
    // 'logfile'       => '/var/log/tine-client-php.log',
];
